#Ignore LATEX output expect source files.
/Writings/*/*.aux
/Writings/*/*.pdf
/Writings/*/*.bbl
/Writings/*/*.log
/Writings/*/*.toc
/Writings/*/*.synctex.gz
/Writings/*/*.blg

#Ignore compilation files.
*.o
*.d
*.ld
*.out
*.elf
*.bin
*.rom
/*/obj_*
*.hex
*.a
*.map
*.cc2538dk
*.wismote
*.sky
symbols.c
symbols.h
*/html/*
Makefile.target
config.log
tinydtls/doc

#Ignore intermediate data
*.csv
*.dat

#Ignore backups
*/backup/*
