[submodule "contiki"]
	path = contiki
	url = https://github.com/contiki-os/contiki.git
[submodule "californium"]
	path = californium
	url = https://github.com/eclipse/californium
[submodule "sensniff"]
	path = sensniff
	url = https://github.com/g-oikonomou/sensniff
