[submodule "contiki"]
	path = contiki
	url = https://github.com/contiki-os/contiki.git
[submodule "californium"]
	path = californium
	url = ./californium/
[submodule "sensniff"]
	path = sensniff
	url = ./sensniff/
